In [64]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
from statsmodels.graphics.factorplots import interaction_plot
import matplotlib.pyplot as plt
from scipy import stats

# **Reading Dataframe**

In [65]:
url="https://raw.githubusercontent.com/manishbhnau/Repo/master/Credit.csv"
df=pd.read_csv(url)
print (df.head(3))

   Unnamed: 0   Income  Limit  Rating  ...  Married  Ethnicity  Balance Defaultee
0           1   14.891   3606     283  ...      Yes  Caucasian      333         0
1           2  106.025   6645     483  ...      Yes      Asian      903         0
2           3  104.593   7075     514  ...       No      Asian      580         0

[3 rows x 13 columns]

In [78]:
mn, std=np.mean(df["Income"]), np.std(df["Income"])
print (mn, std)
lis=df["Income"].tolist()
inc=[]
for l in lis:
  if l>mn-std and l<mn+std:
    inc.append("Medium")
  if l<=mn-std:
    inc.append("Low")
  if l>=mn+std:
    inc.append("High")
#print (df["Income"], len(df["Income"]))
#print (inc, len(inc))
df["Level"]=inc
print (df.head(3))

45.218885000000036 35.20019025455366
   Unnamed: 0   Income  Limit  Rating  ...  Ethnicity  Balance  Defaultee   Level
0           1   14.891   3606     283  ...  Caucasian      333          0  Medium
1           2  106.025   6645     483  ...      Asian      903          0    High
2           3  104.593   7075     514  ...      Asian      580          0    High

[3 rows x 14 columns]

In [67]:
#fig = interaction_plot(df.Married, df.Ethnicity, df.Income, colors=['red','blue', 'green'], markers=['D','^', "o"], ms=10)

# **Statsmodel**

In [79]:
formula = 'Income ~ C(Level) + C(Ethnicity)'
model = ols(formula, df).fit()
aov_table = anova_lm(model, typ=2)
print (aov, type(aov))
print (aov.columns.tolist())

              Source             SS     DF  ...           F          p-unc       np2
0              Level  342775.750840    1.0  ...  889.512662  4.375026e-103  0.693030
1          Ethnicity     871.977810    2.0  ...    1.131403   3.236260e-01  0.005710
2  Level * Ethnicity     211.032027    2.0  ...    0.273817   7.606158e-01  0.001388
3           Residual  151828.806525  394.0  ...         NaN            NaN       NaN

[4 rows x 7 columns] <class 'pandas.core.frame.DataFrame'>
['Source', 'SS', 'DF', 'MS', 'F', 'p-unc', 'np2']

In [80]:
formula = 'Income ~ C(Ethnicity) + C(Level)'
lm = ols(formula, df).fit()
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Income   R-squared:                       0.693
Model:                            OLS   Adj. R-squared:                  0.691
Method:                 Least Squares   F-statistic:                     298.3
Date:                Sat, 25 Jul 2020   Prob (F-statistic):          3.24e-101
Time:                        08:18:36   Log-Likelihood:                -1755.7
No. Observations:                 400   AIC:                             3519.
Df Residuals:                     396   BIC:                             3535.
Df Model:                           3
Covariance Type:            nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
Intercept                   118.8403      3.090     38.456      0.000     112.765     124.916
C(Ethnicity)[T.Asian]        -1.3759      2.765     -0.498      0.619      -6.813       4.061
C(Ethnicity)[T.Caucasian]     2.0945      2.416      0.867      0.387      -2.656       6.845
C(Level)[T.Medium]          -85.9105      2.875    -29.880      0.000     -91.563     -80.258
==============================================================================
Omnibus:                       31.615   Durbin-Watson:                   2.109
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               37.242
Skew:                           0.743   Prob(JB):                     8.18e-09
Kurtosis:                       3.155   Cond. No.                         6.27
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# **pingouin**

In [70]:
#!pip install pingouin

In [71]:
import pingouin as pg
df.head(3)

   Unnamed: 0   Income  Limit  Rating  ...  Ethnicity  Balance  Defaultee   Level
0           1   14.891   3606     283  ...  Caucasian      333          0  Medium
1           2  106.025   6645     483  ...      Asian      903          0    High
2           3  104.593   7075     514  ...      Asian      580          0    High

[3 rows x 14 columns]

In [72]:
aov = pg.anova(dv='Income', between=['Level', 'Ethnicity'], data=df, detailed=True)
print(aov, type(aov))
print (aov.columns.tolist())

              Source             SS     DF  ...           F          p-unc       np2
0              Level  342775.750840    1.0  ...  889.512662  4.375026e-103  0.693030
1          Ethnicity     871.977810    2.0  ...    1.131403   3.236260e-01  0.005710
2  Level * Ethnicity     211.032027    2.0  ...    0.273817   7.606158e-01  0.001388
3           Residual  151828.806525  394.0  ...         NaN            NaN       NaN

[4 rows x 7 columns] <class 'pandas.core.frame.DataFrame'>
['Source', 'SS', 'DF', 'MS', 'F', 'p-unc', 'np2']