<a href="https://colab.research.google.com/github/manishbhnau/Repo/blob/master/handlingMissingValues.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from google.colab import files
uplodaed=files.upload()

Saving Credit.csv to Credit.csv

In [ ]:
df=pd.read_csv("Credit.csv")
col=df.columns.tolist()
print (df.head(10))
print (col)

   Unnamed: 0   Income  Limit  ...         Ethnicity  Balance  Defaultee
0           1   14.891   3606  ...         Caucasian      333          0
1           2  106.025   6645  ...             Asian      903          0
2           3  104.593   7075  ...             Asian      580          0
3           4  148.924   9504  ...             Asian      964          0
4           5   55.882   4897  ...         Caucasian      331          0
5           6   80.180   8047  ...         Caucasian     1151          1
6           7   20.996   3388  ...  African American      203          0
7           8   71.408   7114  ...             Asian      872          0
8           9   15.125   3300  ...         Caucasian      279          0
9          10   71.061   6819  ...  African American     1350          1

[10 rows x 13 columns]
['Unnamed: 0', 'Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Gender', 'Student', 'Married', 'Ethnicity', 'Balance', 'Defaultee']

# **Replacing for a range**

In [ ]:
df["Income"]=np.where(df["Income"]<50, np.NaN, df["Income"])
print (df["Income"])

0          NaN
1      106.025
2      104.593
3      148.924
4       55.882
        ...
395        NaN
396        NaN
397     57.872
398        NaN
399        NaN
Name: Income, Length: 400, dtype: float64

## **Drop Null**

In [ ]:
df.dropna()
df.isnull().sum()

Unnamed: 0      0
Income        276
Limit           0
Rating          0
Cards           0
Age             0
Education       0
Gender          0
Student         0
Married         0
Ethnicity       0
Balance         0
Defaultee       0
dtype: int64

In [ ]:
print (df.dropna(subset=["Income"])["Income"])

1      106.025
2      104.593
3      148.924
4       55.882
5       80.180
        ...
381    101.788
389     83.948
390    135.118
391     73.327
397     57.872
Name: Income, Length: 124, dtype: float64

# **Mean Mode Meadian**

In [ ]:
#print ("Income mean ", df["Income"].mean())
#print ("Income mode ", df["Income"].mode()[0])
#replace example :- df[['A','B']] = df[['A','B']].replace([1, 3, 2], [3, 6, 7])
print ("Income mode ", df["Income"].median())
df.replace(np.NaN, df["Income"].mean())["Income"]

Income mode  73.62049999999999

0       87.100218
1      106.025000
2      104.593000
3      148.924000
4       55.882000
          ...
395     87.100218
396     87.100218
397     57.872000
398     87.100218
399     87.100218
Name: Income, Length: 400, dtype: float64

# **Categorical Values**

In [ ]:
df["Ethnicity"]=df["Ethnicity"].replace(["Caucasian"], [np.NaN])
print (df["Ethnicity"])

0                   NaN
1                 Asian
2                 Asian
3                 Asian
4                   NaN
             ...
395                 NaN
396    African American
397                 NaN
398                 NaN
399               Asian
Name: Ethnicity, Length: 400, dtype: object

# **fillna**

In [ ]:
print (df["Ethnicity"].fillna("Caucasian"))

0             Caucasian
1                 Asian
2                 Asian
3                 Asian
4             Caucasian
             ...
395           Caucasian
396    African American
397           Caucasian
398           Caucasian
399               Asian
Name: Ethnicity, Length: 400, dtype: object

# **Algorithm LinearRegression**

In [ ]:
from sklearn.linear_model import LinearRegression
linreg=LinearRegression()

df=pd.read_csv("Credit.csv")
print ("initially  ", set(df["Age"].tolist()), "\n")

##filling nan values in age
df["Age"]=np.where(df["Age"]<30, np.NaN, df["Age"])
print ("with nan values   ", set(df["Age"].tolist()), "\n")

##nan valued dataframe and droping nan values
dtemp_na=df[["Income", "Limit", "Defaultee", "Age"]]
dtemp=dtemp_na.dropna()
#print (set(dtemp["Age"].tolist()))

##making training and testing set
X=dtemp.iloc[:, :3]
y=dtemp.iloc[:, 3]
#print (X)
#print (y)

##training linear regression model
linreg.fit(X, y)

##test data with nan
Xts=dtemp_na.iloc[:, :3]

##prediction
#age_pred["Age"]=pd.Series(linreg.predict(Xts))
pred=pd.Series(linreg.predict(Xts))

##filled nan values in age of dataframe with nan values
dtemp_na["Age"].fillna(pred, inplace=True)#age_pred["Age"], inplace=True)
print ("filling missing values    ", set(dtemp_na["Age"].tolist()), "\n")

initially   {23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 91, 98}

with nan values    {nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 30.0, nan, nan, nan, nan, nan, nan, nan, nan, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 89.0, 91.0, 98.0}

filling missing values     {30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 53.26853788786478, 54.50957292535998, 56.46761915042748, 56.68790766151781, 58.0, 56.79294922896907, 60.84272141642437, 55.19988348280011, 55.32816074890847, 55.153823684987, 55.30831104919084, 62.0, 57.10100349564838, 59.0, 61.0, 63.0, 64.0, 66.0, 68.0, 69.0, 65.0, 71.0, 72.0, 73.0, 70.0, 75.0, 74.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 87.0, 86.0, 89.0, 91.0, 98.0, 54.0, 55.34033811789481, 55.0, 55.23182439776272, 56.0, 56.49070578017883, 56.42168955229843, 56.15790333611514, 56.148694204271955, 57.0, 57.85646030298514, 56.846684358398385, 57.50056330649269, 56.34675415588471, 56.329719367695546, 57.985703330673445, 59.1529584553866, 60.0, 67.0, 76.0}

/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:4535: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,